@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

iframe {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    transform: skewX(-25deg);
    position: relative;
    top: -50px;
    text-align: center;
    letter-spacing: -5px;
}

.hide-logo {
    height: 50px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

.color-button {
    padding: 10px 20px;
    background: linear-gradient(to right, transparent 0%, transparent 34%, rgb(159, 22, 22) 34%, rgb(159, 22, 22) 60%, transparent 60%, transparent 100%);
    background-size: 300% 100%;
    transition: background-position 0.3s ease-out;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    bottom: 10vh;
    left:45vw;
    outline: 4px solid black;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }

  .color-button:hover {
    background-position: -200% 0;
  }
