@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


iframe {
    width: 100%;
    margin-right: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}

h1 {
    /* font-family: 'Playfair Display'; */
    font-size: 100px;
    /* margin-top: 3em; */
    margin-bottom: .3em;
    position: relative;
    top: -50px;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
}

h1,p {
    text-align: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

.hide-logo {
    height: 50px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

.color-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, transparent 0%, transparent 34%, rgb(159, 22, 22) 34%, rgb(159, 22, 22) 60%, transparent 60%, transparent 100%);
    background-size: 300% 100%;
    transition: background-position 0.3s ease-out;
    text-decoration: none;
    color: black;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    bottom: 10vh;
    left:45vw;
    outline: 4px solid black;
  }

  .color-button:hover {
    background-position: -200% 0;
  }

a {
    font-size: 18px;
    font-weight: bold;
}
